html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.formContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page {
    width: 210mm;
    min-height: 297mm;
    margin: 10mm auto;
    border-radius: 5px;
    background: white;
    -webkit-box-shadow: 0px 0px 68px -3px rgba(0, 0, 0, 0.85);
    -moz-box-shadow: 0px 0px 68px -3px rgba(0, 0, 0, 0.85);
    box-shadow: 0px 0px 68px -3px rgba(0, 0, 0, 0.85);
    border-radius: 3px;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    html,
    body {
        width: 210mm;
        height: 297mm;
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

.mainContainers {
    display: flex;
    width: 100%;
    height: 100%;
    font-family: 'Poppins-Ligth';
}

label {
    font-family: 'Poppins-Ligth';
    font-size: 18px;
}

.headerNameContainer {
    padding: 1cm;
    height: 257mm;
    width: 37%;
    color: seashell;
    font-size: 12px;
    background: rgb(54, 176, 160);
    background: linear-gradient(180deg, rgba(54, 176, 160, 1) 63%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
}

.image {
    width: 100%;
    height: 25%;
    margin: 20px 0px;
    border-radius: 50%;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.role {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: 'Quicksand-Light';
    padding: 20px 0;
    border-bottom: 2px solid white;
}

.contact {
    margin-top: 35px;
    font-size: 15px;
    font-weight: bold;
}

.rightContainers {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-top: 30px;
}

.skillsContainer,
.experienceContainer,
.educationContainer {
    width: 450px;
    font-weight: bolder;
    margin-top: 10px;
}

.skillsContainer {
    margin-top: 30px;
}

h3 {
    color: rgb(54, 176, 160);
    margin-bottom: 0;
    border-bottom: rgb(54, 176, 160) solid 3px;
    margin-bottom: 8px;
    letter-spacing: 4px;
}

.position {
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.companyData {
    display: flex;
    font-weight: bolder;
    font-family: 'Quicksand-Light';
}

.company {
    padding-right: 10px;
}

.activity,
.achievement {
    font-size: 0.9rem;
    padding-right: 10px;
    line-height: 1;
    font-weight: lighter;
}

.skillsList {
    columns: 150px 2;
}

ul {
    list-style-position: outside;
    margin-top: 4px;
    margin-left: 0px;
}

.degree,
.university,
.city {
    text-transform: uppercase;
}

.university {
    font-weight: lighter;
    padding-right: 10px;
    font-size: 14px;
}

.educationData,
.city {
    font-size: 14px;
    padding-right: 10px;
    padding-bottom: 15px;
}

.dash {
    padding-bottom: 0;
    padding: 0;
}

@media screen and (min-width:571px) and (max-width: 906px) {
    .page {
        transform: scale(0.7);
    }
}

@media screen and (max-width: 570px) {
    .page {
        transform: scale(0.5);
    }
    .headerNameContainer {
        width: 100%;
    }
}