.formContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    width: 65%;
    height: 100%;
    margin: 10px;
    -webkit-box-shadow: 0px 0px 68px -3px rgba(0,0,0,0.85);
    -moz-box-shadow: 0px 0px 68px -3px rgba(0,0,0,0.85);
    box-shadow: 0px 0px 68px -3px rgba(0,0,0,0.85);
border-radius: 8px;
margin-top: 30px;
}

.mainContainers{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.headerNameContainer{
    width: 25%;
    height: 100%;
    color: seashell;
    font-size: 20px;
    background: rgb(54,176,160);
background: linear-gradient(180deg, rgba(54,176,160,1) 35%, rgba(253,224,255,0.8407738095238095) 100%);
}



