html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header{
width: 100%;
height: 95px;
background: #62ccbe;
display: flex;
align-items: center;
justify-content: center;

}

.ifile, .title{
 margin: 10px;
 font-size: 50px;
 color: white;
 font-family: 'Poppins-Ligth';

}

.navBar{
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: center;
    margin: 12px;
}